*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #5691d5;
}


 .box{
    max-width: 500px;
    background-color: #fff;
    padding: 30px ;
    width: 100%;
    border-radius: 5px;
}

.upload-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.uploadlabel{
    width: 100%;
    min-height: 100px;
    background-color: rgba(0,0,0,0.03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}



.uploadlabel span{
    font-size: 60px;
    color: #18a7ff;
}

.uploadlabel p{
    color: #18a7ff;
    font-size: 20px;
    font-weight: 800;
    font-family: cursive;
}

.uploaded{
    margin: 30px 0px;
    font-size:16px;
    font-weight: 700;
    color: gray;
}

.showfilebox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    padding: 10px 15px;
    box-shadow: 0px 0px 1px 1px gray;
}


.showfilebox .left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filetype{
    background-color: #18a7ff;
    color: #fff;
    padding: 5px 15px;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 3px;
}

.left h3{
    font-weight: 600;
    font-size: 16px;
}

.right span{
    background-color:#18a7ff ;
    color: #fff;
    font-size: 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}