*{
    margin: 0;
    padding: 0;

}

body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 80vh;
     background-color:hsl(0,0%,95%);

}
#calculator{
     font-family: 'Courier New', Courier, monospace;
     background-color:hsl(0,0%,15%);
     border-radius : 15px;
     max-width: 500px;
     overflow: hidden;
     max-height:700px;   
}

#display{
    width:100%;
    padding:24px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color:wheat;

}

#key{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    gap: 10px;
    padding:20px;
}

button{
    width: 100px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color:black;
    color:beige;
    font-size: 4rem;
    font-weight:lighter;
    cursor: pointer;
  
}

button:hover{
     background-color:hsl(0,0%,50%);
    
}
button:active{
     background-color:hsl(0,0%,80%);

}
.opretor-btn{
     background-color:hsl(38,100%,53%);
    
}
.opretor-btn:hover{
     background-color:hsl(38,100%,70%);
    
}
.opretor-btn:active{
     background-color:hsl(38,100%,60%);
    
}


















